* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  overflow-x: hidden;
}

.navbar {
  overflow: hidden;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar .navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar .navbar-container .navbar-logo {
  text-align: start;
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 756px) {
  .navbar .navbar-container .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 200%);
  }
}

.navbar .navbar-container .navbar-logo img {
  align-self: start !important;
}

.navbar .navbar-container .menu-icon {
  display: none;
}

@media screen and (max-width: 756px) {
  .navbar .navbar-container .menu-icon {
    display: block;
    position: absolute;
    top: 40;
    right: 40px;
    font-size: 1.8rem;
    cursor: pointer;
  }
}

.navbar .navbar-container .menu-icon .fa-bars,
.navbar .navbar-container .menu-icon .fa-times {
  color: #000000;
}

.navbar .navbar-container .nav-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: center;
}

@media screen and (max-width: 756px) {
  .navbar .navbar-container .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45vh;
    position: absolute;
    top: 80px;
    left: 100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .navbar .navbar-container .nav-menu.active {
    background-color: #fff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
}

.navbar .navbar-container .nav-menu .nav-links {
  text-decoration: none !important;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  height: 100%;
}

@media screen and (max-width: 756px) {
  .navbar .navbar-container .nav-menu .nav-links {
    text-align: center;
    padding: 1.5rem;
    width: 100%;
    display: table;
  }
}

.navbar .navbar-container .nav-menu .nav-links:hover {
  transition: all 0.2s ease-out;
  background-color: #fff;
  color: #DFDFDF !important;
}

.navbar .navbar-container .nav-menu .nav-links-mobile {
  display: none;
}

.navbar .navbar-container .nav-menu .mobile-btn {
  cursor: pointer;
  display: block;
  text-align: center;
  margin: 0.5rem auto 2rem;
  border-radius: 4px;
  width: 80%;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: #fff;
  color: #000000;
  padding: 14px 20px;
  border: 1px solid #000000;
  transition: all 0.3s ease-out;
}

.navbar .navbar-container .nav-menu .mobile-btn:hover {
  background: #000000;
  color: white;
  transition: 250ms;
}

@media screen and (min-width: 756px) {
  .navbar .navbar-container .nav-menu .mobile-btn {
    display: none;
  }
}

.navbar .navbar-container .desktop-btn {
  cursor: pointer;
  display: block;
  text-align: center;
  margin-right: 5%;
  width: 20%;
  text-decoration: none;
  font-size: 1rem;
  background-color: #000000;
  color: #fff;
  padding: 1% 3%;
  border: 1px solid #000000;
  transition: all 0.3s ease-out;
}

.navbar .navbar-container .desktop-btn:hover {
  background: lightgray;
  border-color: lightgray;
  color: white;
  transition: 250ms;
}

@media screen and (max-width: 756px) {
  .navbar .navbar-container .desktop-btn {
    display: none;
  }
}

.intro-row .img-col img {
  width: 100%;
  height: 100%;
}

.intro-row .text-col {
  padding: 12% 11% 15% 7%;
}

.intro-row .text-col h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 10px;
}

.intro-row .text-col p {
  font-size: 16px;
  font-weight: normal;
  line-height: 2rem;
  margin-bottom: 20px;
}

.dark {
  background-color: black;
  color: white;
}

@media screen and (min-width: 500px) {
  .reversed {
    flex-direction: row-reverse;
  }
}

.story-cont .img-cont img {
  z-index: -1;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .story-cont .img-cont img {
    width: 200%;
  }
  .story-cont .img-cont img:hover {
    scale: 1 !important;
  }
}

.story-cont .img-cont img:hover {
  scale: 1.05;
}

.story-cont .text-col {
  position: absolute;
  margin-top: 350px;
  margin-left: 40px;
  width: 270px;
  color: #ffffff;
}

.story-cont .text-col h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.story-cont .text-col h4 {
  font-size: 12px;
  margin-bottom: 10px;
}

.story-cont .text-col hr {
  color: #DFDFDF;
  width: 100%;
  margin: 10px auto;
}

.feat-cont {
  padding: 7%;
  text-align: center;
  align-items: flex-end;
}

.feat-cont .feat-card {
  margin-bottom: 50px;
  padding: 1% 3%;
}

.feat-cont .feat-card img {
  margin-bottom: 20px;
}

.feat-cont .feat-card h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.feat-cont .feat-card p {
  margin-bottom: 0;
}

.topStory-cont {
  padding: 0;
}

.topStory-cont .text-col {
  padding: 7% 10% 5% 3%;
  color: #ffffff;
}

@media screen and (max-width: 720px) {
  .topStory-cont .text-col {
    padding: 47% 10% 10% 7%;
    background-color: #000000;
    min-height: 650px;
    color: #ffffff;
  }
}

.topStory-cont .text-col h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.topStory-cont .text-col h2 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 10px;
}

@media screen and (min-width: 756px) {
  .topStory-cont .text-col h2 {
    padding-right: 25%;
  }
}

.topStory-cont .text-col p {
  font-size: 16px;
  margin-bottom: 10px;
}

.topStory-cont .text-col .author-p {
  margin-left: 20px;
  font-weight: bold;
}

@media screen and (min-width: 720px) {
  .topStory-cont .text-col .author-p {
    margin-left: 30px;
  }
}

@media screen and (min-width: 720px) {
  .topStory-cont .img-col {
    position: absolute;
    z-index: -1;
  }
}

.topStory-cont .img-col img {
  width: 100%;
}

@media screen and (min-width: 720px) {
  .topStory-cont .img-col img {
    width: 200%;
  }
}

@media screen and (max-width: 756px) {
  .topStory-cont {
    flex-direction: column-reverse !important;
  }
}

@media screen and (max-width: 720px) {
  .feat-pric-intro {
    flex-direction: column-reverse;
  }
}

.feat-pric-intro .text-col {
  padding: 12% 7% 14% 7%;
  background-color: #000000;
  height: 100%;
  color: #ffffff;
}

@media screen and (max-width: 720px) {
  .feat-pric-intro .text-col {
    padding: 45% 7% 10% 7%;
  }
}

@media screen and (max-width: 900px) {
  .feat-pric-intro .text-col {
    padding: 25% 7% 27.5% 7%;
  }
}

.feat-pric-intro .text-col h2 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 10px;
}

.feat-pric-intro .text-col p {
  font-size: 16px;
  margin-bottom: 10px;
}

.feat-pric-intro .img-col img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 720px) {
  .feat-pric-intro .img-col img {
    width: 100%;
  }
}

.pricing-section {
  padding: 5% 7% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing-section .pricing-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.pricing-section .pricing-wrapper .pricing-heading {
  color: #000000;
}

.pricing-section .pricing-wrapper .switch {
  margin: 10px auto 40px;
  justify-content: center !important;
}

@media screen and (min-width: 756px) {
  .pricing-section .pricing-wrapper .switch {
    margin: 10px auto 70px;
  }
}

.pricing-section .pricing-wrapper .switch .options {
  font-size: 20px;
  color: #000000;
}

.pricing-section .pricing-wrapper .pricing-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-section .pricing-wrapper .pricing-container .pricing-container-card {
  background: white;
  box-shadow: 0 6px 20px gray;
  width: 400px;
  height: 500px;
  text-decoration: none;
}

.pricing-section .pricing-wrapper .pricing-container .pricing-container-card:nth-child(2) {
  transform: scale(1.1);
  background-color: #000000;
  color: #ffffff;
  z-index: 5;
}

.pricing-section .pricing-wrapper .pricing-container .pricing-container-card:nth-child(2):hover {
  transform: scale(1.11);
}

.pricing-section .pricing-wrapper .pricing-container .pricing-container-card:hover {
  transform: scale(1.06);
  transition: all 0.3s ease-out;
}

.pricing-section .pricing-wrapper .pricing-container .pricing-container-card .pricing-container-cardInfo {
  display: flex;
  flex-direction: column;
  padding: 15% 7%;
  height: 500px;
  text-align: center;
  align-items: center !important;
}

.pricing-section .pricing-wrapper .pricing-container .pricing-container-card .pricing-container-cardInfo h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.pricing-section .pricing-wrapper .pricing-container .pricing-container-card .pricing-container-cardInfo h3.light {
  color: #000000;
}

.pricing-section .pricing-wrapper .pricing-container .pricing-container-card .pricing-container-cardInfo h2 {
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 1px;
}

.pricing-section .pricing-wrapper .pricing-container .pricing-container-card .pricing-container-cardInfo h2.light {
  color: #000000;
}

.pricing-section .pricing-wrapper .pricing-container .pricing-container-card .pricing-container-cardInfo p {
  font-size: 16px;
  padding: 0 7%;
  margin-bottom: 80px;
}

.pricing-section .pricing-wrapper .pricing-container .pricing-container-card .pricing-container-cardInfo p.text {
  margin: 20px auto;
}

.pricing-section .pricing-wrapper .pricing-container .pricing-container-card .pricing-container-cardInfo .pricing-container-features {
  margin: 1% 2%;
  list-style: none;
  padding-left: 0;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.pricing-section .pricing-wrapper .pricing-container .pricing-container-card .pricing-container-cardInfo .pricing-container-features.light {
  color: #000000;
}

@media screen and (max-width: 850px) {
  .pricing-wrapper {
    margin: 0 20px !important;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
  }
  .pricing-wrapper .pricing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100% !important;
  }
  .pricing-wrapper .pricing-container-card {
    width: 100%;
  }
  .pricing-wrapper .pricing-container-card:nth-child(2) {
    transform: scale(1) !important;
    margin: 30px;
  }
  .pricing-wrapper .pricing-container-card:nth-child(2):hover {
    transform: none !important;
  }
  .pricing-wrapper .pricing-container-card:hover {
    transform: none !important;
  }
}

.cta-cont {
  border-left: 4px solid linear-gradient(to bottom, #5A77FF, #BC7198, #FFC593);
}

.cta-cont img {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.cta-cont .cta-content {
  padding: 4% 7%;
  height: 280px;
}

.cta-cont .cta-content h2 {
  color: white;
  font-weight: 400;
  font-size: 48px;
}

@media screen and (min-width: 756px) {
  .cta-cont .cta-content h2 {
    margin-right: 45%;
  }
}

.footer-cont {
  padding: 7%;
  background-color: black;
  color: white;
}

@media screen and (max-width: 756px) {
  .footer-cont {
    text-align: center;
  }
}

.footer-cont .social-row {
  margin: 20px auto;
}

@media screen and (min-width: 756px) {
  .footer-cont .social-row {
    margin-top: 25%;
  }
}

.footer-cont .social-row i {
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.footer-cont .social-row .faceb:hover {
  background: -webkit-linear-gradient(45deg, #6028F1, #63AFDB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-cont .social-row .yout:hover {
  background: -webkit-linear-gradient(45deg, #D3205A, #FF5A5A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-cont .social-row .twitt:hover {
  background: -webkit-linear-gradient(45deg, #27718A, #65FFEB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-cont .social-row .pint:hover {
  background: -webkit-linear-gradient(45deg, #DE3838, #F6C683);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-cont .social-row .instag:hover {
  background: -webkit-linear-gradient(45deg, #5A77FF, #BC7198, #FFC593);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 756px) {
  .footer-cont .footer-links {
    margin-bottom: 45px;
  }
}

.footer-cont .footer-links .single-link {
  text-decoration: none !important;
}

.footer-cont .footer-links .single-link p {
  text-decoration: none !important;
  color: white;
  font-size: 18px;
  margin: 12px auto;
}

.footer-cont .copy-col p {
  margin-top: 25px;
}
