$pureBlack: #000000;
$lightGrey: #DFDFDF;
$pureWhite: #ffffff;
$font: 'DM Sans',
sans-serif;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font;
}

body {
    overflow-x: hidden;
}

//----------------Navbar Section --------------
.navbar {
    overflow: hidden;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    .navbar-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        max-width: 1500px;
        .navbar-logo {
            @media screen and (max-width: 756px) {
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(25%, 200%);
            }
            img {
                align-self: start !important;
            }
            text-align: start;
            margin-left: 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
        }
        .menu-icon {
            display: none;
            @media screen and (max-width: 756px) {
                display: block;
                position: absolute;
                top: 40;
                right: 40px;
                font-size: 1.8rem;
                cursor: pointer;
            }
            .fa-bars,
            .fa-times {
                color: $pureBlack;
            }
        }
        .nav-menu {
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-gap: 10px;
            list-style: none;
            text-align: center;
            width: 70vw;
            justify-content: center;
            @media screen and (max-width: 756px) {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 45vh;
                position: absolute;
                top: 80px;
                left: 100%;
                opacity: 1;
                transition: all 0.5s ease;
                &.active {
                    background-color: #fff;
                    left: 0;
                    opacity: 1;
                    transition: all 0.5s ease;
                    z-index: 1;
                }
            }
            .nav-links {
                text-decoration: none !important;
                display: flex;
                align-items: center;
                padding: 0.5rem 1rem;
                height: 100%;
                @media screen and (max-width: 756px) {
                    text-align: center;
                    padding: 1.5rem;
                    width: 100%;
                    display: table;
                }
                &:hover {
                    transition: all 0.2s ease-out;
                    background-color: #fff;
                    color: $lightGrey !important;
                }
                &-mobile {
                    display: none;
                }
            }
            .mobile-btn {
                cursor: pointer;
                display: block;
                text-align: center;
                margin: 0.5rem auto 2rem;
                border-radius: 4px;
                width: 80%;
                text-decoration: none;
                font-size: 1.5rem;
                background-color: #fff;
                color: $pureBlack;
                padding: 14px 20px;
                border: 1px solid $pureBlack;
                transition: all 0.3s ease-out;
                &:hover {
                    background: $pureBlack;
                    color: white;
                    transition: 250ms;
                }
                @media screen and (min-width: 756px) {
                    display: none;
                }
            }
        }
        .desktop-btn {
            cursor: pointer;
            display: block;
            text-align: center;
            margin-right: 5%;
            width: 20%;
            text-decoration: none;
            font-size: 1rem;
            background-color: $pureBlack;
            color: #fff;
            padding: 1% 3%;
            border: 1px solid $pureBlack;
            transition: all 0.3s ease-out;
            &:hover {
                background: lightgray;
                border-color: lightgray;
                color: white;
                transition: 250ms;
            }
            @media screen and (max-width: 756px) {
                display: none;
            }
        }
    }
}

//------------------------------Home Intro Section-------------------
.intro-row {
    .img-col {
        img {
            width: 100%;
            height: 100%;
        }
    }
    .text-col {
        padding: 12% 11% 15% 7%;
        h2 {
            font-size: 40px;
            text-transform: uppercase;
            font-weight: normal;
            margin-bottom: 10px;
        }
        p {
            font-size: 16px;
            font-weight: normal;
            line-height: 2rem;
            margin-bottom: 20px;
        }
    }
}

.dark {
    background-color: black;
    color: white;
}

.reversed {
    @media screen and (min-width: 500px) {
        flex-direction: row-reverse;
    }
}

//----------------------Home Stories component---------------
.story-cont {
    .img-cont {
        img {
            z-index: -1;
            width: 100%;
            @media screen and (max-width: 800px) {
                width: 200%;
                &:hover {
                    scale: 1 !important;
                }
            }
            height: 100%;
            &:hover {
                scale: 1.05;
            }
        }
    }
    .text-col {
        position: absolute;
        margin-top: 350px;
        margin-left: 40px;
        width: 270px;
        color: $pureWhite;
        h3 {
            font-size: 18px;
            margin-bottom: 10px;
        }
        h4 {
            font-size: 12px;
            margin-bottom: 10px;
        }
        hr {
            color: $lightGrey;
            width: 100%;
            margin: 10px auto;
        }
    }
}

//-----------------------Features section -----------------
.feat-cont {
    padding: 7%;
    text-align: center;
    align-items: flex-end;
    .feat-card {
        margin-bottom: 50px;
        padding: 1% 3%;
        img {
            margin-bottom: 20px;
        }
        h3 {
            font-size: 18px;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 0;
        }
    }
}

//-----------------------TopStory section-------------------------
.topStory-cont {
    padding: 0;
    .text-col {
        padding: 7% 10% 5% 3%;
        color: $pureWhite;
        @media screen and (max-width: 720px) {
            padding: 47% 10% 10% 7%;
            background-color: $pureBlack;
            min-height: 650px;
            color: $pureWhite;
        }
        h3 {
            font-size: 18px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        h2 {
            font-size: 48px;
            text-transform: uppercase;
            @media screen and (min-width: 756px) {
                padding-right: 25%;
            }
            font-weight: normal;
            margin-bottom: 10px;
        }
        p {
            font-size: 16px;
            margin-bottom: 10px;
        }
        .author-p {
            @media screen and (min-width: 720px) {
                margin-left: 30px;
            }
            margin-left: 20px;
            font-weight: bold;
        }
    }
    .img-col {
        @media screen and(min-width: 720px) {
            position: absolute;
            z-index: -1;
        }
        img {
            width: 100%;
            @media screen and (min-width: 720px) {
                width: 200%;
            }
        }
    }
    @media screen and(max-width: 756px) {
        flex-direction: column-reverse !important;
    }
}

//------------------Feat-Pric Intro ---------------------
.feat-pric-intro {
    @media screen and(max-width: 720px) {
        flex-direction: column-reverse;
    }
    .text-col {
        @media screen and (max-width: 720px) {
            padding: 45% 7% 10% 7%;
        }
        @media screen and (max-width: 900px) {
            padding: 25% 7% 27.5% 7%;
        }
        padding: 12% 7% 14% 7%;
        background-color: $pureBlack;
        height: 100%;
        color: $pureWhite;
        h2 {
            font-size: 48px;
            text-transform: uppercase;
            font-weight: normal;
            margin-bottom: 10px;
        }
        p {
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
    .img-col {
        img {
            width: 100%;
            height: 100%;
            @media screen and (max-width: 720px) {
                width: 100%;
            }
        }
    }
}

//-----------------------Prices section------------------
.pricing-section {
    padding: 5% 7% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .pricing-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        .pricing-heading {
            color: $pureBlack;
        }
        .switch {
            margin: 10px auto 40px;
            @media screen and (min-width: 756px) {
                margin: 10px auto 70px;
            }
            justify-content: center !important;
            .options {
                font-size: 20px;
                color: $pureBlack;
            }
        }
        .pricing-container {
            display: flex;
            justify-content: center;
            align-items: center;
            .pricing-container-card {
                background: white;
                box-shadow: 0 6px 20px gray;
                width: 400px;
                height: 500px;
                text-decoration: none;
                &:nth-child(2) {
                    transform: scale(1.1);
                    background-color: $pureBlack;
                    color: $pureWhite;
                    z-index: 5;
                    &:hover {
                        transform: scale(1.11);
                    }
                }
                &:hover {
                    transform: scale(1.06);
                    transition: all 0.3s ease-out;
                }
                .pricing-container-cardInfo {
                    display: flex;
                    flex-direction: column;
                    padding: 15% 7%;
                    height: 500px;
                    text-align: center;
                    align-items: center !important;
                    & h3 {
                        font-size: 24px;
                        margin-bottom: 10px;
                        &.light {
                            color: $pureBlack;
                        }
                    }
                    & h2 {
                        font-size: 60px;
                        margin-top: 20px;
                        margin-bottom: 1px;
                        &.light {
                            color: $pureBlack;
                        }
                    }
                    & p {
                        font-size: 16px;
                        padding: 0 7%;
                        margin-bottom: 80px;
                        &.text {
                            margin: 20px auto;
                        }
                    }
                    .pricing-container-features {
                        margin: 1% 2%;
                        list-style: none;
                        padding-left: 0;
                        padding-bottom: 30px;
                        display: flex;
                        flex-direction: column;
                        &.light {
                            color: $pureBlack;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:850px) {
    .pricing-wrapper {
        margin: 0 20px !important;
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        .pricing-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100% !important;
            &-card {
                width: 100%;
                &:nth-child(2) {
                    transform: scale(1) !important;
                    margin: 30px;
                    &:hover {
                        transform: none !important;
                    }
                }
                &:hover {
                    transform: none !important;
                }
            }
        }
    }
}

//---------------------Cta section ----------------------
.cta-cont {
    border-left: 4px solid linear-gradient(to bottom, (#5A77FF), #BC7198, (#FFC593));
    img {
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    .cta-content {
        padding: 4% 7%;
        height: 280px;
        h2 {
            color: white;
            font-weight: 400;
            font-size: 48px;
            @media screen and (min-width: 756px) {
                margin-right: 45%;
            }
        }
    }
}

//---------------------Footer Section -----------------------
.footer-cont {
    padding: 7%;
    background-color: black;
    color: white;
    @media screen and (max-width: 756px) {
        text-align: center;
    }
    .social-row {
        margin: 20px auto;
        @media screen and (min-width: 756px) {
            margin-top: 25%;
        }
        i {
            margin-right: 10px;
            cursor: pointer;
            font-size: 20px;
        }
        .faceb {
            &:hover {
                background: -webkit-linear-gradient(45deg, (#6028F1), (#63AFDB));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .yout {
            &:hover {
                background: -webkit-linear-gradient(45deg, (#D3205A), #FF5A5A);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .twitt {
            &:hover {
                background: -webkit-linear-gradient(45deg, (#27718A), (#65FFEB));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .pint {
            &:hover {
                background: -webkit-linear-gradient(45deg, (#DE3838), #F6C683);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .instag {
            &:hover {
                background: -webkit-linear-gradient(45deg, (#5A77FF), #BC7198, (#FFC593));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    .footer-links {
        @media screen and (max-width: 756px) {
            margin-bottom: 45px;
        }
        .single-link {
            text-decoration: none !important;
            p {
                text-decoration: none !important;
                color: white;
                font-size: 18px;
                margin: 12px auto;
            }
        }
    }
    .copy-col {
        p {
            margin-top: 25px;
        }
    }
}